* {
    padding: 0em;
    margin: 0em;
}

:root{
    --bgcolor: #0365ae;
    --breadcolor: #163F77;
    --txtcolor: #fff;
    --newscolor: #f3c42b;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #fff;
    --link: #000;
    --visitedcolor: #f3c42b;
}

html, body{  
    font-size: 100%;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    margin: auto;
}

aside h2 {
    background-color: var();
}

aside{
    float: right;
}

html{
    background-image: url('../lab_TecWeb_1/images/bg.png');
    background-size: contain;
}

main{
    background-color: #0365AE;
}


body{
    max-width: 1024px;
    border: 1px solid #000;

}

#menu{
    float: left;
    width: 25%;
    background-color: var(--bgcolor);
}

#menu a:link{

}

/*
==================
Sezione Header
==================
*/

header{
    color: var(--txtcolor);
    text-align: center;
    padding: 1.0;
    padding-top: 0.7em;
}

/*
==================
Sezione breadcrumb
==================
*/
#breadcrumb{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em 0em;
}
/*
==================
Sezione Footer😋
==================
*/

footer{
    background-color: var(--breadcolor);
    color: var(--txtcolor)
}